// Variables
$white: #fff;
$blue: #55a5e3;

.nc-notification-area { 
	background: $blue;
	color: $white;
	float: left;
	margin: 20px 0;
	padding: 20px;
	width: 100%;
	
	h6 {
		color: $white;
		font-size: 2rem;
		font-weight: 700;
	}

	a { border-bottom: 1px dotted $white; }

	.remove-notification {
		background: $white;
		border: 2px solid $white !important;
		border-radius: 2px;
		color: $blue;
		display: block;
		float: right;
		font-family: AllerRegular, Verdana, sans-serif;
		font-weight: 700;
		padding: 5px 10px;
		transition: background-color .2s linear;

		&:hover {
			background: transparent;
			border-color: $white !important;
			color: $white !important;
			text-decoration: none;
		}
	}
}
